<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:content="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd   http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

	<content:component-scan base-package="cn.zcp.activemq"/>
	<content:annotation-config/>

	<bean id="activeMQPrefetchPolicy" class="org.apache.activemq.ActiveMQPrefetchPolicy">
			<property name="queuePrefetch" value="1"/>
	</bean>
	<!--MQ监听-->
	<!--<bean id="transportListener" class="com.vzoom.certtax.service.impl.MyMQTransportListener"/>-->
	<!-- 配置ActiveMQ连接工厂 -->
	<bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="userName" value="admin"/>
		<property name="password" value="admin"/>
		<property name="brokerURL" value="failover://tcp://192.168.81.240:61616"/>
		<property name="useAsyncSend" value="true"/>
		<property name="prefetchPolicy" ref="activeMQPrefetchPolicy"/>
		<!--<property name="transportListener" ref="transportListener"/>-->
	</bean>
	<!--配置缓存连接 CachingConnectionFactory-->
	<bean id="cacheConnectionFactory"
		  class="org.springframework.jms.connection.CachingConnectionFactory">
		<property name="targetConnectionFactory" ref="activeMQConnectionFactory"></property>
		<!-- Session缓存数量 -->
		<property name="sessionCacheSize" value="100" />
	</bean>

	<!-- 创建采集队列 -->
	<bean id="firstQueue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>first-queue</value>
		</constructor-arg>
	</bean>

	<!--配置JmsTemplate-->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="cacheConnectionFactory"/>
		<property name="defaultDestination" ref="firstQueue"/>
		<!--这个配置很重要,未配置(优先级、持久化、过期时间)都不生效,源码查看:org.springframework.jms.core.JmsTemplate.doSend(...)-->
		<property name="explicitQosEnabled" value="true"/>
		<property name="deliveryMode" value="2"/> <!--消息持久化  1非持久化-->
		<property name="priority" value="9"/>  <!--消息优先级0-9  9最高-->
		<!-- 消息过期时间,一定需要messageTimestampEnabled(DisableMessageTimestamp为false(默认)才有意义)-->
		<property name="timeToLive" value="1000"/>
	</bean>
</beans>
